<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}

  {{ content }}

  {% include footer.html %}
  {% include backToTop.html %}
  {% include music.html %}

  <!-- 加载 cplayer 脚本 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/cplayer/dist/cplayer.min.js"></script>
  <script>
    let player = new cplayer({
      element: document.getElementById('music'),
      playlist: [
      ]
    })

    cplayer.prototype.add163 = function add163(id) {
      if (!id) throw new Error("Unable Property.");
      return fetch("https://music.huaji8.top/?id=" + id).then(function (res) { return res.json() }).then(function (data) {
        let obj = {
          name: data.info.songs[0].name,
          artist: data.info.songs[0].ar.map(function (ar) { return ar.name }).join(','),
          poster: data.pic.url,
          lyric: data.lyric.lyric,
          sublyric: data.lyric.tlyric,
          src: data.url.url,
          album: data.info.songs[0].al.name
        }
        this.add(obj);
        return obj;
      }.bind(this))
    }
    player.add163(263386850)
  </script> -->
  <script src="{{ " /assets/js/main.js " | prepend: site.baseurl }}" charset="utf-8"></script>
  <script src="{{ " /assets/js/smooth-scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script>
  <script type="text/javascript">
    smoothScroll.init({
      speed: 500, // Integer. How fast to complete the scroll in milliseconds
      easing: 'easeInOutCubic', // Easing pattern to use
      offset: 20, // Integer. How far to offset the scrolling anchor location in pixels
    });
  </script>
  <!-- <script src="{{ " /assets/js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
</body>

</html>